<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="top">
            <div class="title">
                <h1>My Blog</h1>
            </div>
        </div>
        {% for post in range(blogs):%}
        <div class="content">
            <div class="card">
                <h2>{{blog_data[post]['title']}}</h2>
                <p class="text">{{blog_data[post]['subtitle']}}</p>
                <a href='http://127.0.0.1:5000/post/{{blog_data[post]["id"]}}'>Read</a>
            </div>
        </div>
        {% endfor %}
        <!--<div class="content">
            <div class="card">
                <h2>Another blog post</h2>
                <p class="text">Lorem ipsum dolor sit </p>
                <a href="#">Read</a>
            </div>
        </div>-->
    </div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>

</html>